@use '../../abstracts' as *;

.form-modal {
  --ff-inter: 'Inter', sans-serif;

  @include display-flex($y: flex-start);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--ff-inter);
  background-color: #f0f3f9;
  z-index: 1000;

  .forgot-pass-form {
    @include display-flex($dir: column, $gap: 2rem);
    width: min(100% - 1.5rem, 30rem);
    margin-inline: auto;
    margin-block-start: 4rem;
    padding: 2rem;
    background-color: var(--ntrl-clr-100);
    box-shadow: 5px 5px 40px 5px hsl(0, 0%, 38%, 0.03);
    border-radius: 1rem;

    .form-header {
      font-size: clamp(1.2rem, 1.0944rem + 0.4507vw, 1.5rem);
      color: var(--pr-clr-300);
      font-weight: 600;
      text-align: center;
    }

    .field {
      @include display-flex($dir: column, $gap: 0.5rem);
      width: 100%;

      > * {
        width: 100%;
        border-radius: 0.5rem;
      }

      label {
        display: none;
      }

      input {
        color: var(--pr-clr-300);
        font-weight: 600;
        padding: 0.875rem 1rem;
        background-color: var(--ntrl-clr-100);
        outline: 1px solid var(--pr-clr-300);

        &::placeholder {
          font-weight: normal;
          opacity: 0.5;
        }
      }

      button {
        color: var(--ntrl-clr-100);
        padding: 1rem;
        background-color: var(--pr-clr-300);
        cursor: pointer;

        &:hover {
          background-color: var(--pr-clr-350);
        }
      }
    }

    .form-note {
      color: var(--ntrl-clr-300);
      font-size: 0.875rem;
      text-align: center;
    }
  }
}
