@use '../../abstracts' as *;
.homepage {
  [class*='-page'] {
    header {
      .texts-container {
        width: 100%;
        max-width: 80rem;
        @include display-flex($dir: column, $gap: 2rem, $y: flex-start);

        & > * {
          @include display-flex($dir: column, $y: flex-start);
          max-width: 48rem;
        }

        .header-text {
          gap: 1rem;
          color: var(--pr-clr-300);
          text-align: left;

          p {
            font-size: 0.875rem;
          }

          h1 {
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 0.6197rem + 3.7559vw, 4rem);
            font-style: italic;
            font-weight: 900;
            text-transform: uppercase;
          }
        }
        
        .paragraph-text {
          gap: 2.75rem;
          color: var(--ntrl-clr-300);
        }
      }

      .image-container {
        width: 100%;
        max-width: 30rem;

        img {
          width: 100%;
        }
      }
    }
  }
}
