@use '../../abstracts' as *;

.homepage {
  .services-page {
    header {
      .container {
        max-width: 80rem;
        @include display-flex($dir: column, $gap: 2rem);
        padding: 2rem;

        .texts-container {
          width: 100% !important;
          padding: 0 !important;

          & > * {
            width: 100%;
            // max-width: 55rem;
          }

          .paragraph-text {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: flex-start;

            .list-column {
              width: 100%;
              @include display-flex($gap: 1rem, $dir: column, $y: flex-start);

              li {
                width: 100%;
                // max-width: 20rem;
                @include display-flex($gap: 1rem, $x: flex-start);
                border-radius: 0.5rem;
                padding: 1rem;
                outline: 1px solid var(--pr-clr-350);
                background-color: var(--ntrl-clr-100);
              }
            }
          }
        }

        // .image-container {
        //   width: 50rem; // 800px
        // }
      }
    }
  }
}

@media screen and (min-width: 75rem) {
  .homepage {
    .services-page {
      header {
        .container {
          flex-direction: row;
          padding-inline: 0;

          .texts-container {
            .paragraph-text {
              .list-column {
                width: unset;
                li {
                  width: 20rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
