@use '../../abstracts' as *;

.signup__page {
  width: 100%;
  @include flex($dir: column);

  .signup {
    @include display-flex($dir: column, $gap: 42px, $y: flex-start);
    width: 30rem;
    background-color: var(--ntrl-clr-100);
    padding: 2rem;
    margin-block: 4rem;
    border-radius: 8px;
    overflow: hidden;


    .signup__form {
      width: 100%;
      @include display-flex($dir: column, $gap: 2rem, $y: flex-start);

      .field {
        width: 100%;
        @include display-flex($dir: column-reverse, $y: flex-start);

        // outline: var(--debug);

        label {
          font-size: var(--fs-200);
          color: var(--pr-clr-400);
        }

        input {
          width: 100%;
          padding: 8px;
          border-bottom: 1px solid var(--pr-clr-400);
          font-size: var(--fs-200);
          color: var(--pr-clr-300);

          &:hover + label,
          &:active + label,
          &:focus + label,
          &:not(:placeholder-shown) + label {
            font-weight: bold;
            color: var(--pr-clr-300);
          }

          &::placeholder {
            font-size: var(--fs-200);
            color: var(--pr-clr-400);
          }

          &:hover,
          &:focus {
            border-color: var(--pr-clr-300);
          }
        }
      }
    }

    .submit__button {
      width: 100%;
      font-size: var(--fs-200);
      color: var(--ntrl-clr-100);
      background-color: var(--pr-clr-300);
      padding: 1rem;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: var(--pr-clr-350);
        font-weight: 600;
      }
    }

    .login__link {
      align-self: center;
      font-size: var(--fs-200);
      color: var(--pr-clr-300);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
