@use '../../abstracts' as *;

.appointments__container.appointments__page {
  width: 100%;

  .appointments {
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;

      // head
      thead {
        tr {
          th {
            padding: 0.5rem;
            font-size: calc(var(--fs-100) + 0.10rem);
            color: var(--pr-clr-300);
            outline: 1px solid var(--pr-clr-400);

            &.patient_img {
              width: 1rem;
            }

            &.patient_appointment {
              width: 2rem;
            }

            &.patient_name {
              width: 10rem;
            }

            &.patient_time {
              width: 6rem;
            }

            &.patient_email {
              width: 6rem;
            }

            &.patient_message {
              width: 10rem;
            }

            &.patient_location {
              width: 14rem;
            }

            &.actions {
              width: 0.5rem;
            }
          }
        }
      }
      // body
      tbody {
        tr {
          td {
            font-size: calc(var(--fs-100) + 0.10rem);
            padding-block: 1rem;
            padding-inline: 0.5rem;
            outline: 1px solid var(--pr-clr-400);
          }
        }
      }
    }
  }
}
