.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-self: flex-start;

  .active-page {
    font-weight: bold;
    color: #e6e6e6 !important;
    text-decoration: none;
    border-radius: 5px;
    background-color: #1d72f2;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    color: #2c2c2c;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;

    &.icon:hover svg path {
      stroke: #e6e6e6;
    }

    &:hover {
      background-color: #5c9dff;
      color: #e6e6e6;
    }
  }
}
