@use '../../abstracts' as *;

.appointment__page {
  width: 767px;
  @include display-flex($dir: column, $y: flex-start, $gap: 2rem);

  .header {
    width: 100%;
    @include display-flex($x: space-between);

    h1 {
      font-size: var(--fs-400);
      color: var(--pr-clr-300);
      font-weight: bold;
    }

    .appointment__button {
      padding: 1rem;
      background-color: var(--pr-clr-100);
      color: var(--ntrl-clr-100);
      font-weight: bold;
      border-radius: 6px;

      &:hover {
        background-color: var(--pr-clr-150);
      }

      // does not work and i dont know
      &:active {
        background-color: var(--pr-clr-100);
        transform: scale(0.97);
      }
    }
  }

  .appointment__container {
    width: 100%;
    @include display-flex($gap: 12px, $dir: column);

    .header {
      width: 100%;
      @include display-flex($x: space-between);
      padding: 1rem;
      background-color: var(--pr-clr-300);
      border-radius: 6px;
      color: var(--ntrl-clr-100);

      h2,
      h3 {
        font-weight: bold;
      }
    }

    .appointments {
      width: 100%;
      border: 1px solid var(--pr-clr-350);
      border-radius: 6px;
      // overflow: hidden;

      // item header
      .item {
        .item_header {
          @include display-flex($x: space-between);
          padding: 1rem;
          border-bottom: 1px solid var(--pr-clr-300);
          cursor: pointer;
          transition: 200ms ease-in-out;
          overflow: hidden;

          &:hover {
            border: 1px solid var(--pr-clr-300);
            border-radius: 8px;
            background-color: var(--ntrl-clr-100);
            transform: scale(1.09);
            box-shadow: 0 0 60px #1d72f22a;
          }

          p,
          button {
            color: var(--pr-clr-300);
            font-weight: bold;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        // appointment container
        .appointment {
          .appointment_header {
            @include display-flex($x: space-between);

            & > * {
              width: 100%;
              padding: 1rem;
              color: var(--pr-clr-300);
              font-weight: bold;
              border-bottom: 1px solid var(--pr-clr-300);
            }

            & p:nth-child(2) {
              border-left: 1px solid var(--pr-clr-300);
            }
          }

          .appointment_details {
            .details {
              @include display-flex;
              flex-wrap: wrap;

              .detail {
                flex: 50%;
                @include display-flex(
                  $dir: column,
                  $y: flex-start,
                  $gap: 0.5rem
                );
                padding: 1rem;
                cursor: pointer;
                transition: 200ms ease-in-out;
                overflow: hidden;

                &:not(:last-child) {
                  border-bottom: 1px solid var(--pr-clr-300);
                }

                &:hover {
                  border: 1px solid var(--pr-clr-300);
                  border-radius: 8px;
                  background-color: var(--ntrl-clr-100);
                  transform: scale(1.09);
                  box-shadow: 0 0 60px #1d72f22a;
                }

                &_header {
                  color: var(--pr-clr-300);
                  font-weight: bold;
                }

                &_content {
                  color: var(--ntrl-clr-350);
                }
              }
              .detail:nth-child(2),
              .detail:nth-child(4),
              .detail:nth-child(6) {
                border-left: 1px solid var(--pr-clr-350);
              }
            }
          }
        }
      }
    }
  }

  .appointment__container {
    width: 100%;
    @include display-flex($gap: 12px, $dir: column);

    .header {
      width: 100%;
      @include display-flex($x: space-between);
      padding: 1rem;
      background-color: var(--pr-clr-300);
      border-radius: 6px;
      color: var(--ntrl-clr-100);
    }

    .appointments {
      width: 100%;
      border: 1px solid var(--pr-clr-300);
      border-radius: 6px;

      .appointment {
        .date {
          @include display-flex($x: space-between);
          padding: 1rem;
          color: var(--pr-clr-300);
          transition: 100ms;
          cursor: pointer;

          &:hover {
            background-color: var(--pr-clr-400);
            color: var(--ntrl-clr-100);
            font-weight: bold;

            .remove__button {
              color: var(--ntrl-clr-100);
            }
          }

          .remove__button {
            color: var(--pr-clr-300);
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .details__container {
          width: 100%;
          @include display-flex($dir: column);
          border-top: 1px solid var(--pr-clr-300);

          .detail__header {
            width: 100%;
            @include display-flex($x: flex-start);
            border-bottom: 1px solid var(--pr-clr-300);

            p {
              padding: 1rem;
              width: 100%;
              font-family: 'DMSans-Bold', sans-serif;
              font-size: var(--fs-300);
              color: var(--pr-clr-300);
            }

            p:nth-child(2) {
              border-left: 1px solid var(--pr-clr-300);
            }
          }

          .details {
            width: 100%;
            @include display-flex($y: flex-start);

            .detail {
              width: 100%;

              .item {
                @include display-flex($dir: column, $y: flex-start, $gap: 6px);
                padding: 0.5rem 1rem;
                border-bottom: 1px solid var(--pr-clr-300);

                p:nth-child(1) {
                  font-family: 'DMSans-Bold', sans-serif;
                  font-size: var(--fs-300);
                  color: var(--pr-clr-300);
                }
              }

              &:nth-child(1) {
                .item {
                  p:nth-child(4) {
                    border-width: 0px;
                  }
                }
              }
            }

            .detail:first-child {
              .item:last-child {
                border-bottom: 0;
              }
            }

            .detail:nth-child(2) {
              .item {
                border-left: 1px solid var(--pr-clr-300);
              }
            }
          }
        }
      }
    }
  }
}
