@use './../../abstracts' as *;

.side__nav {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: var(--ntrl-clr-400);
  padding: 1rem;

  ul {
    width: 100%;
    @include display-flex($dir: column, $y: flex-start, $gap: 0.8rem);

    li {
      width: 100%;
      border-radius: 6px;

      // outline: var(--debug);

      &:hover {
        background-color: var(--ntrl-clr-350);
      }

      &.active__link {
        background-color: var(--ntrl-clr-350);

        a {
          font-family: 'DM Sans', sans-serif;
          color: var(--pr-clr-300);
          font-weight: bold;
        }
      }

      a,
      .theme__button {
        @include display-flex($x: flex-start, $gap: 12px);
        color: var(--ntrl-clr-100);
        font-size: calc(var(--fs-100) + 0.1rem);
        padding: 1rem;

        &:hover {
          background-color: var(--ntrl-clr-350);
          border-radius: 6px;
        }
      }

      &#logout_button {
        padding: 0;
        margin-top: 1rem;
        text-align: center;

        .logout__button {
          justify-content: center;
          width: 100%;
          padding: 1rem;
          background-color: var(--pr-clr-300);
          border-radius: 6px;
          font-family: 'DM Sans', sans-serif;
          text-align: center;

          &:hover {
            background-color: var(--pr-clr-350);
          }

          &:active {
            background-color: var(--pr-clr-300);
          }
        }
      }
    }
  }
}
